{% if content %}
	<div {{ attributes.addClass('mitor-grid-img') }} {{ attibutes.addId('mitor-top-project') }}>

		{% if content.mitor_gallery_images %}
			{{ content.mitor_gallery_images }}
		{% endif %}

	</div>
{% endif %}
