{% if content %}
	<div {{ attributes.addClass('mitor-grid-img') }}>
		{% for item in content.mitor_gallery_images|array_elements(region_attributes.mitor_gallery_images.addClass('grid-item')) %}
    	   {{ item }} 
    	{% endfor %}
	</div>
{% endif %}
