{% if content %}
	<div {{ attributes.addClass('bloc-actus-all') }}>
		{% if content.salon_dessange_actu_all_teaser_link %}
			{{ content.salon_dessange_actu_all_teaser_link }}
		{% endif %}

		{% if content.salon_dessange_actu_teaser_title %}
			<div>
				{{  content.salon_dessange_actu_teaser_title}}
			</div>
		{% endif %}

		{% if content.salon_dessange_actu_teaser_icon %}
			{{ content.salon_dessange_actu_teaser_icon }}
		{% endif %}
	</div>
{% endif %}
